@model OOP_ASU_5.Domain.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laboriousness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laboriousness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
